<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학생 등록 페이지</title>
  </head>
  <body>
    <h1>학생 등록</h1>
    <form action="register" method="post">
      <p><input type="text" placeholder="학생 이름" name="sname" /></p>
      <p><input type="text" placeholder="학생 ID" name="s_id" /></p>
      <p><input type="text" placeholder="학생 Password" name="s_pwd" /></p>
      <p><input type="email" placeholder="학생 Email" name="email" /></p>
      <p><input type="submit" value="제출" /></p>
    </form>
  </body>
</html>
